<dec f='include/c++/10/bits/stl_iterator.h' l='600' type='_Container *'/>
<use f='include/c++/10/bits/stl_iterator.h' l='614' u='w' c='_ZNSt20back_insert_iteratorC1ERT_'/>
<use f='include/c++/10/bits/stl_iterator.h' l='639' u='c' c='_ZNSt20back_insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/10/bits/stl_iterator.h' l='647' u='c' c='_ZNSt20back_insert_iteratoraSEONT_10value_typeE'/>
