<use f='tvm/include/tvm/runtime/ndarray.h' l='66'/>
<use f='tvm/include/tvm/runtime/ndarray.h' l='225' c='_ZNK3tvm7runtime7NDArray11get_mutableEv'/>
<inh f='tvm/include/tvm/runtime/object.h' l='167' c='tvm::runtime::Object'/>
<inh f='tvm/include/tvm/runtime/ndarray.h' l='264' c='tvm::runtime::NDArray::ContainerBase'/>
<def f='tvm/include/tvm/runtime/ndarray.h' l='294' ll='340'/>
<use f='tvm/include/tvm/runtime/ndarray.h' l='412' c='_ZNK3tvm7runtime7NDArray11get_mutableEv'/>
<use f='tvm/include/tvm/runtime/ndarray.h' l='413' c='_ZNK3tvm7runtime7NDArray11get_mutableEv'/>
<use f='tvm/include/tvm/runtime/ndarray.h' l='418' c='_ZN3tvm7runtime7NDArray17FFIDataFromHandleEP8DLTensor'/>
<use f='tvm/include/tvm/runtime/ndarray.h' l='425' c='_ZN3tvm7runtime7NDArray12FFIGetHandleERKNS0_9ObjectRefE'/>
<use f='tvm/include/tvm/runtime/ndarray.h' l='430' c='_ZN3tvm7runtime7NDArray9FFIDecRefEP8DLTensor'/>
<use f='tvm/include/tvm/runtime/ndarray.h' l='434' c='_ZN3tvm7runtime28TVMArrayHandleToObjectHandleEP8DLTensor'/>
<use f='tvm/include/tvm/node/structural_hash.h' l='206' c='_ZN3tvm21NDArrayContainerTrait11SHashReduceEPKNS_7runtime7NDArray9ContainerENS_12SHashReducerE'/>
<use f='tvm/include/tvm/node/structural_hash.h' l='207' c='_ZN3tvm21NDArrayContainerTrait12SEqualReduceEPKNS_7runtime7NDArray9ContainerES5_NS_13SEqualReducerE'/>
<use f='tvm/include/tvm/node/structural_hash.h' l='208' c='_ZN3tvm21NDArrayContainerTrait12SEqualReduceEPKNS_7runtime7NDArray9ContainerES5_NS_13SEqualReducerE'/>
<size>80</size>
<doc f='tvm/include/tvm/runtime/ndarray.h' l='290'>/*!
 * \brief Object container class that backs NDArray.
 * \note do not use this function directly, use NDArray.
 */</doc>
<fun r='_ZN3tvm7runtime7NDArray9ContainerC1Ev'/>
<fun r='_ZN3tvm7runtime7NDArray9ContainerC1EPvNS0_10ShapeTupleE10DLDataType8DLDevice'/>
<fun r='_ZN3tvm7runtime7NDArray9Container10SetDeleterEPFvPNS0_6ObjectEE'/>
<smbr r='tvm::runtime::NDArray::Container::_type_index' t='const uint32_t'/>
<smbr r='tvm::runtime::NDArray::Container::_type_child_slots' t='const uint32_t'/>
<smbr r='tvm::runtime::NDArray::Container::_type_child_slots_can_overflow' t='const uint32_t'/>
<smbr r='tvm::runtime::NDArray::Container::_type_key' t='const char *const'/>
<fun r='_ZN3tvm7runtime7NDArray9Container16RuntimeTypeIndexEv'/>
<fun r='_ZN3tvm7runtime7NDArray9Container27_GetOrAllocRuntimeTypeIndexEv'/>
<use f='tvm/src/node/structural_hash.cc' l='332' c='_ZN3tvm21NDArrayContainerTrait11SHashReduceEPKNS_7runtime7NDArray9ContainerENS_12SHashReducerE'/>
<use f='tvm/src/node/structural_hash.cc' l='345' c='_ZN3tvm21NDArrayContainerTrait12SEqualReduceEPKNS_7runtime7NDArray9ContainerES5_NS_13SEqualReducerE'/>
<use f='tvm/src/node/structural_hash.cc' l='346' c='_ZN3tvm21NDArrayContainerTrait12SEqualReduceEPKNS_7runtime7NDArray9ContainerES5_NS_13SEqualReducerE'/>
<use f='tvm/src/node/structural_hash.cc' l='369'/>
<use f='tvm/src/node/structural_hash.cc' l='382'/>
<size>80</size>
<use f='tvm/src/runtime/debug.cc' l='113' c='_ZN3tvm7runtime19AppendRuntimeObjectERSoRKNS0_9ObjectRefERK8DLDeviceb'/>
<size>80</size>
<use f='tvm/src/runtime/graph_executor/graph_executor.cc' l='322' c='_ZN3tvm7runtime13GraphExecutor20LinkedNDArrayDeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/graph_executor/graph_executor.cc' l='350' c='_ZN3tvm7runtime13GraphExecutor24DefaultLookupLinkedParamENS0_7TVMArgsEPNS0_11TVMRetValueE'/>
<size>80</size>
<use f='tvm/src/runtime/ndarray.cc' l='102' c='_ZN3tvm7runtime7NDArray8Internal14DefaultDeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/ndarray.cc' l='104' c='_ZN3tvm7runtime7NDArray8Internal14DefaultDeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/ndarray.cc' l='117' c='_ZN3tvm7runtime7NDArray8Internal13DLPackDeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/ndarray.cc' l='128' c='_ZN3tvm7runtime7NDArray8Internal11SelfDeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/ndarray.cc' l='137' c='_ZN3tvm7runtime7NDArray8Internal6CreateENS0_10ShapeTupleE10DLDataType8DLDevice'/>
<use f='tvm/src/runtime/ndarray.cc' l='137' c='_ZN3tvm7runtime7NDArray8Internal6CreateENS0_10ShapeTupleE10DLDataType8DLDevice'/>
<use f='tvm/src/runtime/ndarray.cc' l='162' c='_ZN3tvm7runtime7NDArray8Internal8ToDLPackEP8DLTensor'/>
<use f='tvm/src/runtime/ndarray.cc' l='166' c='_ZN3tvm7runtime7NDArray8Internal8ToDLPackEPNS1_9ContainerE'/>
<use f='tvm/src/runtime/ndarray.cc' l='177' c='_ZN3tvm7runtime7NDArray8Internal20NDArrayDLPackDeleterEP15DLManagedTensor'/>
<use f='tvm/src/runtime/ndarray.cc' l='211' c='_ZN3tvm7runtime7NDArray20FromExternalDLTensorERK8DLTensor'/>
<use f='tvm/src/runtime/ndarray.cc' l='211' c='_ZN3tvm7runtime7NDArray20FromExternalDLTensorERK8DLTensor'/>
<use f='tvm/src/runtime/ndarray.cc' l='237' c='_ZN3tvm7runtime7NDArray10FromDLPackEP15DLManagedTensor'/>
<use f='tvm/src/runtime/ndarray.cc' l='237' c='_ZN3tvm7runtime7NDArray10FromDLPackEP15DLManagedTensor'/>
<size>80</size>
<use f='tvm/src/runtime/rpc/rpc_module.cc' l='45' c='_ZN3tvm7runtimeL20RemoteNDArrayDeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/rpc/rpc_module.cc' l='74' c='_ZN3tvm7runtime29NDArrayFromRemoteOpaqueHandleESt10shared_ptrINS0_10RPCSessionEEPvP8DLTensor8DLDeviceS4_'/>
<use f='tvm/src/runtime/rpc/rpc_module.cc' l='74' c='_ZN3tvm7runtime29NDArrayFromRemoteOpaqueHandleESt10shared_ptrINS0_10RPCSessionEEPvP8DLTensor8DLDeviceS4_'/>
<size>80</size>
<use f='tvm/src/runtime/vm/memory_manager.cc' l='37' c='_ZN3tvm7runtime2vmL13BufferDeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/vm/memory_manager.cc' l='46' c='_ZN3tvm7runtime2vm10StorageObj7DeleterEPNS0_6ObjectE'/>
<use f='tvm/src/runtime/vm/memory_manager.cc' l='83' c='_ZN3tvm7runtime2vm10StorageObj12AllocNDArrayEmSt6vectorIlSaIlEE10DLDataType'/>
<use f='tvm/src/runtime/vm/memory_manager.cc' l='84' c='_ZN3tvm7runtime2vm10StorageObj12AllocNDArrayEmSt6vectorIlSaIlEE10DLDataType'/>
<use f='tvm/src/runtime/vm/memory_manager.cc' l='162' c='_ZN3tvm7runtime2vm9Allocator5EmptyESt6vectorIlSaIlEE10DLDataType8DLDevice'/>
<use f='tvm/src/runtime/vm/memory_manager.cc' l='162' c='_ZN3tvm7runtime2vm9Allocator5EmptyESt6vectorIlSaIlEE10DLDataType8DLDevice'/>
<size>80</size>
<use f='tvm/src/tir/transforms/extract_constants.cc' l='45' c='_ZN3tvm3tir10Applicator5DeDupERKNS_7runtime7NDArrayE'/>
<use f='tvm/src/tir/transforms/extract_constants.cc' l='46' c='_ZN3tvm3tir10Applicator5DeDupERKNS_7runtime7NDArrayE'/>
<size>80</size>
