<dec f='tvm/include/tvm/ir/transform.h' l='90' type='Map&lt;tvm::runtime::String, tvm::runtime::ObjectRef&gt;'/>
<use f='tvm/include/tvm/ir/transform.h' l='113' u='m' c='_ZNK3tvm9transform15PassContextNode9GetConfigERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEENS_7runtime8OptionalIT_EE'/>
<use f='tvm/include/tvm/ir/transform.h' l='114' u='m' c='_ZNK3tvm9transform15PassContextNode9GetConfigERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEENS_7runtime8OptionalIT_EE'/>
<use f='tvm/include/tvm/ir/transform.h' l='115' u='m' c='_ZNK3tvm9transform15PassContextNode9GetConfigERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEENS_7runtime8OptionalIT_EE'/>
<use f='tvm/include/tvm/ir/transform.h' l='132' u='a' c='_ZN3tvm9transform15PassContextNode10VisitAttrsEPNS_11AttrVisitorE'/>
<offset>384</offset>
<doc f='tvm/include/tvm/ir/transform.h' l='89'>/*! \brief Pass specific configurations. */</doc>
<use f='tvm/src/ir/transform.cc' l='550' u='w'/>
<use f='tvm/src/ir/transform.cc' l='552' u='a'/>
<use f='tvm/src/ir/transform.cc' l='567' u='r'/>
