<dec f='tvm/src/relay/backend/te_compiler_cache.h' l='84' type='tvm::Target'/>
<use f='tvm/src/relay/backend/te_compiler_cache.h' l='90' u='a' c='_ZN3tvm5relay3tec13CCacheKeyNode10VisitAttrsEPNS_11AttrVisitorE'/>
<use f='tvm/src/relay/backend/te_compiler_cache.h' l='243' u='m' c='_ZNK3tvm5relay3tec13CCacheKeyNode4HashEv'/>
<use f='tvm/src/relay/backend/te_compiler_cache.h' l='250' u='m' c='_ZNK3tvm5relay3tec13CCacheKeyNode5EqualEPKS2_'/>
<use f='tvm/src/relay/backend/te_compiler_cache.h' l='250' u='m' c='_ZNK3tvm5relay3tec13CCacheKeyNode5EqualEPKS2_'/>
<offset>192</offset>
<doc f='tvm/src/relay/backend/te_compiler_cache.h' l='83'>/*! \brief The hardware target.*/</doc>
<use f='tvm/src/relay/backend/te_compiler.cc' l='164' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl3JITERKNS1_9CCacheKeyE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='195' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl19GetLoweredFunctionsEv'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='204' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl19GetLoweredFunctionsEv'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='212' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl19GetLoweredFunctionsEv'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='282' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl22LowerExternalFunctionsEv'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='342' u='m' c='_ZN3tvm5relay3tec14TECompilerImpl13LowerInternalERKNS1_9CCacheKeyESt8functionIFNS_7runtime6StringES8_EE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='375' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl13LowerInternalERKNS1_9CCacheKeyESt8functionIFNS_7runtime6StringES8_EE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='388' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl13LowerInternalERKNS1_9CCacheKeyESt8functionIFNS_7runtime6StringES8_EE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='391' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl13LowerInternalERKNS1_9CCacheKeyESt8functionIFNS_7runtime6StringES8_EE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='481' u='m' c='_ZN3tvm5relay3tec14TECompilerImpl22LowerShapeFuncInternalERKNS1_9CCacheKeyE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='495' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl22LowerShapeFuncInternalERKNS1_9CCacheKeyE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='501' u='r' c='_ZN3tvm5relay3tec14TECompilerImpl22LowerShapeFuncInternalERKNS1_9CCacheKeyE'/>
<use f='tvm/src/relay/backend/te_compiler_cache.cc' l='85' u='w' c='_ZN3tvm5relay3tec9CCacheKeyC1ENS0_8FunctionENS_6TargetENS_13VirtualDeviceE'/>
