<dec f='tvm/include/tvm/runtime/profiling.h' l='336' type='tvm::runtime::Timer'/>
<offset>128</offset>
<doc f='tvm/include/tvm/runtime/profiling.h' l='335'>/*! Runtime of the function or op */</doc>
<use f='tvm/src/runtime/profiling.cc' l='161' u='m' c='_ZN3tvm7runtime9profiling8Profiler8StopCallESt13unordered_mapINSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEENS0_9ObjectRefESt4hashIS9_ESt8equal_15611643'/>
<use f='tvm/src/runtime/profiling.cc' l='664' u='m' c='_ZN3tvm7runtime9profiling8Profiler6ReportEv'/>
