<inh f='tvm/include/tvm/runtime/object.h' l='511' c='tvm::runtime::ObjectRef'/>
<def f='tvm/include/tvm/runtime/profiling.h' l='86' ll='143'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='140' c='_ZN3tvm7runtime5Timer5StartE8DLDevice'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='142' c='_ZN3tvm7runtime5TimerC1ERKS1_'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='142' c='_ZN3tvm7runtime5TimerC1EOS1_'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='142' c='_ZN3tvm7runtime5TimeraSERKS1_'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='142' c='_ZN3tvm7runtime5TimeraSERKS1_'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='142' c='_ZN3tvm7runtime5TimeraSEOS1_'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='142' c='_ZN3tvm7runtime5TimeraSEOS1_'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='152' c='_ZN3tvm7runtime12DefaultTimerE8DLDevice'/>
<use f='tvm/include/tvm/runtime/profiling.h' l='336'/>
<size>8</size>
<doc f='tvm/include/tvm/runtime/profiling.h' l='80'>/*! \brief Timer for a specific device.
 *
 * This is a managed reference to a TimerNode.
 *
 * \sa TimerNode
 */</doc>
<fun r='_ZN3tvm7runtime5Timer5StartE8DLDevice'/>
<fun r='_ZN3tvm7runtime5TimerC1Ev'/>
<fun r='_ZN3tvm7runtime5TimerC1ERKS1_'/>
<fun r='_ZN3tvm7runtime5TimerC1EOS1_'/>
<fun r='_ZN3tvm7runtime5TimerC1ENS0_9ObjectPtrINS0_6ObjectEEE'/>
<use f='tvm/src/runtime/graph_executor/debug/graph_executor_debug.cc' l='211' c='_ZN3tvm7runtime18GraphExecutorDebug9RunOpHostEi'/>
<use f='tvm/src/runtime/graph_executor/debug/graph_executor_debug.cc' l='213' c='_ZN3tvm7runtime18GraphExecutorDebug9RunOpHostEi'/>
<size>8</size>
<use f='tvm/src/runtime/profiling.cc' l='70' c='_ZN3tvm7runtime12DefaultTimerE8DLDevice'/>
<use f='tvm/src/runtime/profiling.cc' l='70' c='_ZN3tvm7runtime12DefaultTimerE8DLDevice'/>
<use f='tvm/src/runtime/profiling.cc' l='89'/>
<use f='tvm/src/runtime/profiling.cc' l='92' c='_ZN3tvm7runtime5Timer5StartE8DLDevice'/>
<use f='tvm/src/runtime/profiling.cc' l='95' c='_ZN3tvm7runtime5Timer5StartE8DLDevice'/>
<use f='tvm/src/runtime/profiling.cc' l='99' c='_ZN3tvm7runtime5Timer5StartE8DLDevice'/>
<use f='tvm/src/runtime/profiling.cc' l='885' c='_ZN3tvm7runtime9profiling17WrapTimeEvaluatorENS0_10PackedFuncE8DLDeviceiiiiiiS2_'/>
<size>8</size>
<fun r='_ZN3tvm7runtime5Timer5StartE8DLDevice'/>
