<dec f='tvm/include/tvm/target/virtual_device.h' l='199' type='tvm::Target'/>
<use f='tvm/include/tvm/target/virtual_device.h' l='213' u='m' c='_ZNK3tvm17VirtualDeviceNode20IsFullyUnconstrainedEv'/>
<use f='tvm/include/tvm/target/virtual_device.h' l='222' u='m' c='_ZNK3tvm17VirtualDeviceNode18IsFullyConstrainedEv'/>
<use f='tvm/include/tvm/target/virtual_device.h' l='247' u='a' c='_ZN3tvm17VirtualDeviceNode15_tvm_VisitAttrsERT_'/>
<offset>256</offset>
<doc f='tvm/include/tvm/target/virtual_device.h' l='192'>/*!
   * \brief The \p Target describing how to compile for the virtual device.
   *
   * Null denotes unconstrained. Note that if a target later becomes known for this \p VirtualDevice
   * then it must be consistent with the \p device_type if already known. This is enforced by the
   * Join and Default methods.
   */</doc>
<use f='tvm/src/relay/backend/build_module.cc' l='443' u='r' c='_ZN3tvm5relay7backend16RelayBuildModule10BuildRelayENS_8IRModuleERKNS_7runtime6StringE'/>
<use f='tvm/src/relay/backend/interpreter.cc' l='758' u='r' c='_ZN3tvm5relay11Interpreter10VisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='758' u='r' c='_ZN3tvm5relay3tec22LowerTensorExprMutator15MakeLoweredCallERKNS_8BaseFuncERKNS_9GlobalVarENS_7runtime5ArrayINS_9RelayExprEvEENS_4SpanERKNS_6TargetERKNS9_3MapIS6_S3_vvEE'/>
<use f='tvm/src/relay/backend/te_compiler.cc' l='908' u='r' c='_ZN3tvm5relay3tec22LowerTensorExprMutator21DeviceAwareVisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/relay/collage/candidate_partition_index.cc' l='100' u='r' c='_ZN3tvm5relay7collage23CandidatePartitionIndex29IsCompatibleWithVirtualDeviceERKNS1_18CandidatePartitionE'/>
<use f='tvm/src/relay/collage/candidate_partition_index.cc' l='109' u='r' c='_ZN3tvm5relay7collage23CandidatePartitionIndex29IsCompatibleWithVirtualDeviceERKNS1_18CandidatePartitionE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='143' u='r' c='_ZN3tvm5relay12_GLOBAL__N_111StorageInfo21DeviceAwareVisitExpr_EPKNS0_12FunctionNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='247' u='m' c='_ZN3tvm5relay12_GLOBAL__N_111StorageInfo5ScopeB5cxx11ENS_7runtime5ArrayINS_8PrimExprEvEERKNS_13VirtualDeviceE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='442' u='r' c='_ZN3tvm5relay22RewriteVDStorageScopes10VisitExpr_EPKNS0_7VarNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='456' u='r' c='_ZN3tvm5relay22RewriteVDStorageScopes10VisitExpr_EPKNS0_12ConstantNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='485' u='r' c='_ZN3tvm5relay22RewriteVDStorageScopes21DeviceAwareVisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='488' u='r' c='_ZN3tvm5relay22RewriteVDStorageScopes21DeviceAwareVisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='493' u='r' c='_ZN3tvm5relay22RewriteVDStorageScopes21DeviceAwareVisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='516' u='r' c='_ZN3tvm5relay22RewriteVDStorageScopes21DeviceAwareVisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='565' u='m' c='_ZN3tvm5relay21CollectVirtualDevices21DeviceAwareVisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/relay/transforms/annotate_texture_storage.cc' l='566' u='m' c='_ZN3tvm5relay21CollectVirtualDevices21DeviceAwareVisitExpr_EPKNS0_8CallNodeE'/>
<use f='tvm/src/target/compilation_config.cc' l='102' u='r' c='_ZNK3tvm21CompilationConfigNode22CanonicalVirtualDeviceERKNS_13VirtualDeviceE'/>
<use f='tvm/src/target/compilation_config.cc' l='180' u='m' c='_ZN3tvm21CompilationConfigNode4InitERKNS_9transform11PassContextERKNS_7runtime5ArrayINS_6TargetEvEE'/>
<use f='tvm/src/target/compilation_config.cc' l='267' u='m' c='_ZN3tvm21CompilationConfigNode4InitERKNS_9transform11PassContextERKNS_7runtime5ArrayINS_6TargetEvEE'/>
<use f='tvm/src/target/virtual_device.cc' l='52' u='m'/>
<use f='tvm/src/target/virtual_device.cc' l='56' u='m'/>
<use f='tvm/src/target/virtual_device.cc' l='77' u='w' c='_ZN3tvm13VirtualDeviceC1E12DLDeviceTypeiNS_6TargetENS_7runtime6StringE'/>
<use f='tvm/src/target/virtual_device.cc' l='111' u='m' c='_ZN3tvm13VirtualDevice4JoinERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='112' u='r' c='_ZN3tvm13VirtualDevice4JoinERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='113' u='m' c='_ZN3tvm13VirtualDevice4JoinERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='113' u='m' c='_ZN3tvm13VirtualDevice4JoinERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='113' u='r' c='_ZN3tvm13VirtualDevice4JoinERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='117' u='r' c='_ZN3tvm13VirtualDevice4JoinERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='150' u='m' c='_ZN3tvm13VirtualDevice7DefaultERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='151' u='r' c='_ZN3tvm13VirtualDevice7DefaultERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='154' u='m' c='_ZN3tvm13VirtualDevice7DefaultERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='154' u='m' c='_ZN3tvm13VirtualDevice7DefaultERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='155' u='r' c='_ZN3tvm13VirtualDevice7DefaultERKS0_S2_'/>
<use f='tvm/src/target/virtual_device.cc' l='181' u='m' c='_ZN3tvm18VirtualDeviceCache4MakeE12DLDeviceTypeiNS_6TargetENS_7runtime6StringE'/>
<use f='tvm/src/target/virtual_device.cc' l='181' u='m' c='_ZN3tvm18VirtualDeviceCache4MakeE12DLDeviceTypeiNS_6TargetENS_7runtime6StringE'/>
<use f='tvm/src/target/virtual_device.cc' l='182' u='m' c='_ZN3tvm18VirtualDeviceCache4MakeE12DLDeviceTypeiNS_6TargetENS_7runtime6StringE'/>
<use f='tvm/src/target/virtual_device.cc' l='183' u='m' c='_ZN3tvm18VirtualDeviceCache4MakeE12DLDeviceTypeiNS_6TargetENS_7runtime6StringE'/>
<use f='tvm/src/target/virtual_device.cc' l='183' u='m' c='_ZN3tvm18VirtualDeviceCache4MakeE12DLDeviceTypeiNS_6TargetENS_7runtime6StringE'/>
<use f='tvm/src/target/virtual_device.cc' l='191' u='r' c='_ZN3tvm18VirtualDeviceCache6UniqueERKNS_13VirtualDeviceE'/>
