<dec f='tvm/include/tvm/runtime/vm/bytecode.h' l='143' type='tvm::runtime::vm::RegName'/>
<offset>64</offset>
<doc f='tvm/include/tvm/runtime/vm/bytecode.h' l='142'>/*! \brief The register containing the target value. */</doc>
<use f='tvm/src/runtime/vm/bytecode.cc' l='436' u='w' c='_ZN3tvm7runtime2vm11Instruction2IfEllll'/>
<use f='tvm/src/runtime/vm/bytecode.cc' l='584' u='r' c='_ZN3tvm7runtime2vm16InstructionPrintERSoRKNS1_11InstructionE'/>
<use f='tvm/src/runtime/vm/executable.cc' l='625' u='r' c='_ZN3tvm7runtime2vm20SerializeInstructionERKNS1_11InstructionE'/>
<use f='tvm/src/runtime/vm/vm.cc' l='760' u='r' c='_ZN3tvm7runtime2vm14VirtualMachine7RunLoopERKSt6vectorIlSaIlEE'/>
