<dec f='tvm/include/tvm/meta_schedule/extracted_task.h' l='49' type='tvm::Target'/>
<use f='tvm/include/tvm/meta_schedule/extracted_task.h' l='58' u='a' c='_ZN3tvm13meta_schedule17ExtractedTaskNode10VisitAttrsEPNS_11AttrVisitorE'/>
<offset>256</offset>
<doc f='tvm/include/tvm/meta_schedule/extracted_task.h' l='48'>/*! \brief Target */</doc>
<use f='tvm/src/meta_schedule/extracted_task.cc' l='35' u='w' c='_ZN3tvm13meta_schedule13ExtractedTaskC1ENS_7runtime6StringENS_8IRModuleENS_6TargetENS2_5ArrayIS4_vEEi'/>
