<dec f='tvm/include/tvm/target/tag.h' l='41' type='Map&lt;tvm::runtime::String, tvm::runtime::ObjectRef&gt;'/>
<use f='tvm/include/tvm/target/tag.h' l='45' u='a' c='_ZN3tvm13TargetTagNode10VisitAttrsEPNS_11AttrVisitorE'/>
<use f='tvm/include/tvm/target/tag.h' l='130' u='w' c='_ZN3tvm17TargetTagRegEntry10set_configENS_7runtime3MapINS1_6StringENS1_9ObjectRefEvvEE'/>
<use f='tvm/src/target/tag.cc' l='52' u='r' c='_ZN3tvm9TargetTag3GetERKNS_7runtime6StringE'/>
<use f='tvm/src/target/tag.cc' l='65' u='m' c='_ZN3tvm9TargetTag6AddTagENS_7runtime6StringENS1_3MapIS2_NS1_9ObjectRefEvvEEb'/>
<use f='tvm/src/target/tag.cc' l='66' u='r' c='_ZN3tvm9TargetTag6AddTagENS_7runtime6StringENS1_3MapIS2_NS1_9ObjectRefEvvEEb'/>
<offset>192</offset>
<doc f='tvm/include/tvm/target/tag.h' l='40'>/*! \brief Config map to generate the target */</doc>
