<use f='tvm/meta_schedule/database/database.cc' l='83' u='w' c='_ZN3tvm13meta_schedule12TuningRecordC1ENS_3tir5TraceENS0_8WorkloadENS_7runtime8OptionalINS5_5ArrayINS_8FloatImmEvEEEENS6_INS_6TargetEEENS6_INS7_INS0_7ArgInfoEvEEEE'/>
<use f='tvm/meta_schedule/database/database.cc' l='106' u='m' c='_ZNK3tvm13meta_schedule16TuningRecordNode6AsJSONEv'/>
<use f='tvm/meta_schedule/database/database.cc' l='107' u='m' c='_ZNK3tvm13meta_schedule16TuningRecordNode6AsJSONEv'/>
