<use f='tvm/parser/parser.cc' l='1184' c='_ZN3tvm6parser6Parser7ParseIfEv'/>
<size>8</size>
<use f='tvm/relay/analysis/annotated_region_set.cc' l='190' c='_ZN3tvm5relay18AnnotatedRegionSet7Creator10VisitExpr_EPKNS0_6IfNodeE'/>
<size>8</size>
<use f='tvm/relay/ir/expr.cc' l='343' c='_ZN3tvm5relay10WithFieldsENS0_2IfENS_7runtime8OptionalINS_9RelayExprEEES5_S5_NS3_INS_13VirtualDeviceEEENS3_INS_4SpanEEE'/>
<use f='tvm/relay/ir/expr.cc' l='343' c='_ZN3tvm5relay10WithFieldsENS0_2IfENS_7runtime8OptionalINS_9RelayExprEEES5_S5_NS3_INS_13VirtualDeviceEEENS3_INS_4SpanEEE'/>
<use f='tvm/relay/ir/expr.cc' l='371'/>
<size>8</size>
<fun r='_ZN3tvm5relay2IfC1ENS_9RelayExprES2_S2_NS_4SpanE'/>
<use f='tvm/relay/ir/expr_functor.cc' l='243' c='_ZN3tvm5relay11ExprMutator10VisitExpr_EPKNS0_6IfNodeE'/>
<size>8</size>
<use f='tvm/relay/ir/indexed_graph.cc' l='245' c='_ZZN3tvm5relay18CreateIndexedGraphERKNS_9RelayExprEEN9Annotator10VisitExpr_EPKNS0_6IfNodeE'/>
<use f='tvm/relay/ir/indexed_graph.cc' l='334' c='_ZZN3tvm5relay18CreateIndexedGraphERKNS_9RelayExprEEN7Blocker10VisitExpr_EPKNS0_6IfNodeE'/>
<size>8</size>
<use f='tvm/relay/transforms/annotate_target.cc' l='319' c='_ZN3tvm5relay15annotate_target22AnnotateTargetRewriter8Rewrite_EPKNS0_6IfNodeERKNS_9RelayExprE'/>
<use f='tvm/relay/transforms/annotate_target.cc' l='324' c='_ZN3tvm5relay15annotate_target22AnnotateTargetRewriter8Rewrite_EPKNS0_6IfNodeERKNS_9RelayExprE'/>
<use f='tvm/relay/transforms/annotate_target.cc' l='390' c='_ZN3tvm5relay15annotate_target21CallOpsTargetRewriter8Rewrite_EPKNS0_6IfNodeERKNS_9RelayExprE'/>
<use f='tvm/relay/transforms/annotate_target.cc' l='395' c='_ZN3tvm5relay15annotate_target21CallOpsTargetRewriter8Rewrite_EPKNS0_6IfNodeERKNS_9RelayExprE'/>
<size>8</size>
<use f='tvm/relay/transforms/capture_postdfsindex_in_spans.cc' l='74' c='_ZN3tvm5relay9transform12_GLOBAL__N_113SpansRewriter8Rewrite_EPKNS0_6IfNodeERKNS_9RelayExprE'/>
<use f='tvm/relay/transforms/capture_postdfsindex_in_spans.cc' l='74' c='_ZN3tvm5relay9transform12_GLOBAL__N_113SpansRewriter8Rewrite_EPKNS0_6IfNodeERKNS_9RelayExprE'/>
<size>8</size>
<use f='tvm/relay/transforms/device_planner.cc' l='668' c='_ZN3tvm5relay9transform12_GLOBAL__N_114DeviceAnalyzer10VisitExpr_EPKNS0_6IfNodeE'/>
<use f='tvm/relay/transforms/device_planner.cc' l='1142' c='_ZN3tvm5relay9transform12_GLOBAL__N_114DeviceCapturer10VisitExpr_EPKNS0_6IfNodeE'/>
<size>8</size>
<use f='tvm/relay/transforms/fold_constant.cc' l='206' c='_ZN3tvm5relay9transform12_GLOBAL__N_114ConstantFolder10VisitExpr_EPKNS0_6IfNodeE'/>
<use f='tvm/relay/transforms/fold_constant.cc' l='206' c='_ZN3tvm5relay9transform12_GLOBAL__N_114ConstantFolder10VisitExpr_EPKNS0_6IfNodeE'/>
<size>8</size>
<use f='tvm/relay/transforms/higher_order_gradient.cc' l='320' c='_ZN3tvm5relay9ReverseAD10VisitExpr_EPKNS0_6IfNodeE'/>
<size>8</size>
<use f='tvm/relay/transforms/partial_eval.cc' l='680' c='_ZN3tvm5relay12partial_eval16PartialEvaluator10VisitExpr_EPKNS0_6IfNodeEPNS0_7LetListE'/>
<size>8</size>
<use f='tvm/relay/transforms/to_a_normal_form.cc' l='294' c='_ZN3tvm5relay12_GLOBAL__N_14Fill10VisitExpr_EPKNS0_6IfNodeERKNS0_3VarE'/>
<size>8</size>
<use f='tvm/relay/transforms/to_cps.cc' l='185' c='_ZZN3tvm5relay5ToCPSERKNS0_8FunctionERKNS_8IRModuleEPSt13unordered_mapINS_9GlobalVarES8_NS_7runtime13ObjectPtrHashENS9_14ObjectPtrEqualESaISt4pairIKS813173150'/>
<size>8</size>
<use f='tvm/relay/transforms/type_infer.cc' l='882' c='_ZN3tvm5relay26SameTypedSubgraphExtractor10VisitExpr_EPKNS0_6IfNodeE'/>
<size>8</size>
